@mixin flex ($display:flex, $direction:row, $wrap:nowrap, $justify-content:normal, $align-items:normal){
    display: $display;
    flex-flow: $direction $wrap;
    justify-content:$justify-content;
    align-items:$align-items;
}

@mixin spaceling ($margin:0, $padding:0){
    margin: $margin;
    padding:$padding;
}

@mixin colorized ($color:$color-principal, $background-color:transparent){
    color: $color;
    background-color:$background-color;
}

@mixin text-as($font-size:inherit, $font-weight:normal, $text-decoration:none, $text-align:initial, $font-style:initial, $text-transform:none){
    font-size: $font-size;
    font-weight: $font-weight;
    text-decoration: $text-decoration;
    text-align: $text-align;
    font-style: $font-style;
    text-transform: $text-transform;
}
