
/*
<section class="program">
        <h1 class="program__text">TO DO LIST</h1>
        <div class="program__container-input">
            <input class="program__input" type="text"  placeholder="Añadir tarea...">
            <button class="program__btn-anadir">AÑADIR</button>
        </div>
        <div class="program__container-list">
            <div class="program__tarea">
                <p class="program__nombre-tarea">tarea prueba</p>
                <div class="program__btndiv" >
                    <button class="program__btn-editar"><i class="fa-solid fa-pencil"></i></button>
                    <button class="program__btn-eliminar"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        </div>
    </section>
*/


.program{
    margin: 100px auto;
    width: 300x;
    width: 500px;
    display:flex ;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &__text{
        color: white;
        font-size: 30px;
    }
    &__container-input{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 50px;
        margin: 50px 0 80px 0;
    }
    &__input{
        width: 60%;
        outline: none;
        border-bottom: 1px solid rgb(218, 212, 212);
    }
    &__btn-anadir{
        width: 20%;
        background-color: pink;
        padding: 10px 20px;
        border-radius: 15px;
    }
    &__container-list{
        background-color: white;
        width: 100%;
        display:flex ;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    &__tarea{
        width: 90%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid grey;
    }
    &__nombre-tarea{
        margin: 10px;
    }
    &__btndiv{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &__btn-editar{
        margin: 10px;
        padding: 10px;
        color: white;
        background-color: greenyellow;
    }
    &__btn-eliminar{
        margin: 10px;
        padding: 10px;
        color: white;
        background-color: rgb(101, 49, 186);
    }
}